02ncrpdfscan.json
{
  "name": "n8n-ocr",
  "nodes": [
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1584,
        352
      ],
      "id": "15d8eebf-040d-4222-91b2-8bbdeebba833",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sinuous-luis-inconvertibly.ngrok-free.dev/process-image",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "file_data",
              "value": "={{ $json.data }}"
            }
          ]
        },
        "options": {
          "timeout": 100000000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1824,
        352
      ],
      "id": "c2e57987-c20d-472a-a8f4-bbb29a301d86",
      "name": "OCR-server",
      "executeOnce": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "PDF_Scan",
          "mode": "list",
          "cachedResultName": "PDF_Scan"
        },
        "embeddingBatchSize": 2,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        2048,
        352
      ],
      "id": "7a4aeb91-a2ba-4dfc-b5fd-4f6389569bc5",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "PEfsvpCXmeisv836",
          "name": "QdrantApi account 3"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1952,
        608
      ],
      "id": "64a7832d-6b79-446d-abe8-0e3494545037",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "Ed8Jh9kqfVkHaB9Y",
          "name": "OpenAi account 25_API"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        2256,
        560
      ],
      "id": "78c0fb4f-fccd-4682-989a-af8811f8696a",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "content": "## OCR số lượng lớn PDF \n## Lưu trữ vào Vector Search\n### Note: Model OCR là model open source",
        "height": 768,
        "width": 2512
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "8181386a-9827-410b-bb5e-f821acf686ea",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Dựa trên thông tin sau: {{ $json.combinedContext }}\n\nHãy trả lời câu hỏi: {{ $json.originalQuery }}\n\nLưu ý:\n- Chỉ sử dụng thông tin có trong tài liệu trên.\n- Nếu câu trả lời không có trong tài liệu, hãy trả lời: \"Thông tin không có trong tài liệu.\"\n- Không sử dụng kiến thức hoặc thông tin bên ngoài tài liệu.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1584,
        1056
      ],
      "id": "9bde225a-f4d6-48b7-b248-a21152d92ff6",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1568,
        1248
      ],
      "id": "70fc5aaa-e3f6-4998-af69-7cf9b0fbde59",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Ed8Jh9kqfVkHaB9Y",
          "name": "OpenAi account 25_API"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        768,
        1248
      ],
      "id": "e1955372-95b2-4613-adfe-fbaee9de9616",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "Ed8Jh9kqfVkHaB9Y",
          "name": "OpenAi account 25_API"
        }
      }
    },
    {
      "parameters": {
        "mode": "load",
        "qdrantCollection": {
          "__rl": true,
          "value": "PDF_Scan",
          "mode": "list",
          "cachedResultName": "PDF_Scan"
        },
        "prompt": "= {{ $json.chatInput }}",
        "topK": 30,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        800,
        1056
      ],
      "id": "9b25a6ff-9bb7-4ebc-bb16-a7de0616d865",
      "name": "Qdrant Vector Store2",
      "credentials": {
        "qdrantApi": {
          "id": "PEfsvpCXmeisv836",
          "name": "QdrantApi account 3"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# 🧠 Lấy tất cả kết quả từ node \"Qdrant Vector Store2\"\nqdrant_items = _items(\"Qdrant Vector Store2\")\n\n# 💬 Lấy chat input từ node \"Chat-input\"\nchat_input = _('When chat message received').first().json.get(\"chatInput\", \"\")\n\n# 🧩 Ghép toàn bộ nội dung pageContent lại thành 1 context\npage_contents = []\nfor item in qdrant_items:\n    if item.json and \"document\" in item.json:\n        content = item.json[\"document\"].get(\"pageContent\", \"\")\n        if content.strip():\n            page_contents.append(content)\n\ncombined_context = \"\\n\\n---\\n\\n\".join(page_contents)\n\n# 📚 Lưu thông tin nguồn (metadata, score, v.v.)\nsources = []\nfor index, item in enumerate(qdrant_items):\n    source = {\n        \"index\": index + 1,\n        \"score\": item.json.get(\"score\", 0) if item.json else 0,\n        \"metadata\": {}\n    }\n    \n    if item.json and \"document\" in item.json:\n        source[\"metadata\"] = item.json[\"document\"].get(\"metadata\", {})\n    \n    sources.append(source)\n\n# 🕒 Trả về 1 item duy nhất cho node kế tiếp\nfrom datetime import datetime\n\nreturn [\n    {\n        \"json\": {\n            \"combinedContext\": combined_context,\n            \"originalQuery\": chat_input,\n            \"contextCount\": len(qdrant_items),\n            \"sources\": sources,\n            \"timestamp\": datetime.utcnow().isoformat() + \"Z\"\n        }\n    }\n]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        1056
      ],
      "id": "dae2ccb8-4247-4b44-9229-5503581dc96a",
      "name": "Code"
    },
    {
      "parameters": {
        "content": "## Retrieval and Chat",
        "height": 560,
        "width": 2112,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        32,
        848
      ],
      "typeVersion": 1,
      "id": "f3f0cb02-9622-410f-9319-5e97fe10deaf",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1344,
        336
      ],
      "id": "af8e8c28-7aba-4d91-8c81-3d0cd1183034",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "outputFormat": "png"
      },
      "type": "@cloudconvert/n8n-nodes-cloudconvert.cloudConvert",
      "typeVersion": 1,
      "position": [
        1088,
        336
      ],
      "id": "0b070f69-1cbc-4218-bb08-6477bf55abcb",
      "name": "CloudConvert1",
      "credentials": {
        "cloudConvertOAuth2Api": {
          "id": "MZzvg2BV52ykkKqJ",
          "name": "CloudConvert account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        752,
        336
      ],
      "id": "d2f55596-cb6b-449b-9855-79d26ce5e2ee",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "bxU1s6wdj9qrtrKt",
          "name": "Google Drive_PostFacebook"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1LPuDfubc-kU4OE68iyHro7M0kmW84CiG",
          "mode": "list",
          "cachedResultName": "03. PDF_Scan",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1LPuDfubc-kU4OE68iyHro7M0kmW84CiG"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "3f0d87f2-ccc2-4d1c-8ba6-f6ce58d2693b",
      "name": "File Created",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        80,
        304
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "bxU1s6wdj9qrtrKt",
          "name": "Google Drive_PostFacebook"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1LPuDfubc-kU4OE68iyHro7M0kmW84CiG",
          "mode": "list",
          "cachedResultName": "03. PDF_Scan",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1LPuDfubc-kU4OE68iyHro7M0kmW84CiG"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "f9b6ee05-aec1-430b-be8b-89efd753ce75",
      "name": "File Updated",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        80,
        496
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "bxU1s6wdj9qrtrKt",
          "name": "Google Drive_PostFacebook"
        }
      }
    },
    {
      "parameters": {
        "path": "98d819d9-bcc7-489c-bcf1-d156a53166092mmmm",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        80,
        1216
      ],
      "id": "05b119cc-0fed-4099-83a8-630f6399fd8e",
      "name": "Webhook",
      "webhookId": "98d819d9-bcc7-489c-bcf1-d56a53166092"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2d605999-0a3f-4fdc-a0a4-cce93de8f382",
              "name": "chatInput",
              "value": "={{ $json?.chatInput || $json.body.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        1056
      ],
      "id": "e512819e-a2fd-4ba1-9a86-47c24425d129",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        80,
        1008
      ],
      "id": "fb32f282-1aa6-4a83-b915-11e4dc7539b2",
      "name": "When chat message received",
      "webhookId": "a3c8e12f-3e87-480b-82e9-a9e280327e4a"
    }
  ],
  "pinData": {},
  "connections": {
    "Extract from File": {
      "main": [
        [
          {
            "node": "OCR-server",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR-server": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store2": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "CloudConvert1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CloudConvert1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Created": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Updated": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7f821431-66ff-4bea-8085-13d0367f7272",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "94a383c02457267bcc44878635a0fa02b7d3206c5479bfc8890faa812e2bbd97"
  },
  "id": "9w63qne69bIHt72g",
  "tags": [
    {
      "createdAt": "2025-10-07T10:35:16.038Z",
      "updatedAt": "2025-10-07T10:35:16.038Z",
      "id": "hY0A6QWFaFIYxx7f",
      "name": "AI Agents"
    }
  ]
}